<h1>Edit <%= @region.name %></h1>

<%= simple_form_for @region do |form| %>
  <%= form.input :name %>
<br>
  <%= form.input :region %>
<br>
  <%= form.submit "Submit" %>
<% end %>

<br>

<%= link_to "Go to travel destinations", regions_path(@song) %>

<br>